.next
node_modules
out
dist
.env*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

/app/generated/prisma
tsconfig.tsbuildinfo
__pr_*/

secrets/
gmail-oauth-client.json
*.secret.json
/private/
